# Supabase Configuration
# URL do projeto
NEXT_PUBLIC_SUPABASE_URL=https://gjurkteiuwbdswumuloh.supabase.co

# Chaves do Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqdXJrdGVpdXdiZHN3dW11bG9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMTI1MzcsImV4cCI6MjA4OTU4ODUzN30.cY-cctERtnZV71Oat3sWTc6fOVNFpqYqulMYspodqz4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqdXJrdGVpdXdiZHN3dW11bG9oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDAxMjUzNywiZXhwIjoyMDg5NTg4NTM3fQ.764rmH-3uLziT-Uv0RYokMXWU3-SPi72V6nEVrihHV0

# Database Connection (Supabase - conexão direta)
DATABASE_URL=postgresql://postgres:Planet17566%40%21@db.gjurkteiuwbdswumuloh.supabase.co:5432/postgres?sslmode=require&sslaccept=accept_invalid_certs&pgbouncer=true
DIRECT_URL=postgresql://postgres:Planet17566%40%21@db.gjurkteiuwbdswumuloh.supabase.co:5432/postgres?sslmode=require&sslaccept=accept_invalid_certs

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=Elpis2026SecretKeyForNextAuthSuperSecure123
